<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <add name="GestionMagasinPharmacieEntities" connectionString="metadata=res://*/ModuleEF_BD.ModelGestionPharma.csdl|res://*/ModuleEF_BD.ModelGestionPharma.ssdl|res://*/ModuleEF_BD.ModelGestionPharma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ7J8C5\SQLEXPRESS;initial catalog=GestionMagasinPharmacie;persist security info=True;user id=sa;password=istacds;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestionMagasinPharmacieEntities1" connectionString="metadata=res://*/ModuleEF_BD.Model1.csdl|res://*/ModuleEF_BD.Model1.ssdl|res://*/ModuleEF_BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ7J8C5\SQLEXPRESS;initial catalog=GestionMagasinPharmacie;persist security info=True;user id=sa;password=istacds;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestionMagasinPharmacieEntities2" connectionString="metadata=res://*/ModuleEF_BD.Model1.csdl|res://*/ModuleEF_BD.Model1.ssdl|res://*/ModuleEF_BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ7J8C5\SQLEXPRESS;initial catalog=GestionMagasinPharmacie;persist security info=True;user id=sa;password=istacds;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestionMagasinPharmacieEntities3" connectionString="metadata=res://*/ModuleEF_BD.Model1.csdl|res://*/ModuleEF_BD.Model1.ssdl|res://*/ModuleEF_BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ7J8C5\SQLEXPRESS;initial catalog=GestionMagasinPharmacie;persist security info=True;user id=sa;password=istacds;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestionMagasinPharmacieEntities4" connectionString="metadata=res://*/ModuleEF_BD.Model1.csdl|res://*/ModuleEF_BD.Model1.ssdl|res://*/ModuleEF_BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ7J8C5\SQLEXPRESS;initial catalog=GestionMagasinPharmacie;persist security info=True;user id=sa;password=istacds;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestionMagasinPharmacieEntities5" connectionString="metadata=res://*/EFModel.Model01.csdl|res://*/EFModel.Model01.ssdl|res://*/EFModel.Model01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ7J8C5\SQLEXPRESS;initial catalog=GestionMagasinPharmacie;persist security info=True;user id=sa;password=istacds;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>